+section("")
  .columns
    .column.is-3
      +textfield_v("attr_character_name", "Name")
    .column.is-3
      +textfield_v("attr_species", "Species")(list="species")
    .column.is-3
      +textfield_v("attr_archetype", "Archetype")(list="archetypes")
    .column.is-3
      +textfield_v("attr_career", "Career")(list="careers")
  .columns
    .column.is-3
      +textfield_v("attr_milestones", "Milestones/Tier")
    .column.is-3
      //- TODO: auto-fill
      +textfield_v("attr_combat_spec", "Combat Spec")
    .column.is-3
      +textfield_v("attr_background", "Background")
    .column.is-3
      +textfield_v("attr_motivation", "Motivation")
