//- TODO: rollers for qualities and computed values
+section("Qualities")
  .columns 
    .column.is-narrow
      +dicefield_v("attr_quality_brawn", "Brawn")
      +dicefield_v("attr_quality_grace", "Grace")
      +dicefield_v("attr_quality_wits", "Wits")
      +dicefield_v("attr_quality_spirit", "Spirit")
    .column
      .columns
        .column
          +dicefield_v("attr_shooting", "Shooting")
        .column
          +numberfield_v("attr_speed", "Speed")
        .column
          +numberfield_v("attr_armor_value", "Armor Value")
      .columns
        .column
          +dicefield_v("attr_fighting", "Fighting")
        .column
          +numberfield_v("attr_toughness", "Toughness")(readonly)
        .column
          +numberfield_v("attr_armor_roll", "Armor Roll")
      .columns
        .column
          +numberfield_v("attr_willpower", "Willpower")
        .column
          +numberfield_v("attr_wounds", "Wounds")
        .column
          +numberfield_v("attr_exhaustion", "Exhaustion")