//- TODO: skill rollers
+section("Skills")
  .columns
    .column
      +numberfield("attr_skill_alchemy", "Alchemy (W)")
      +numberfield("attr_skill_alertness", "Alertness (S)")
      +numberfield("attr_skill_athletics", "Athletics (B/G)")
      +numberfield("attr_skill_beasts", "Beasts (G/S)")
      +numberfield("attr_skill_drive", "Drive (G)")
      +numberfield("attr_skill_heal", "Heal (W)")
      +numberfield("attr_skill_identify", "Identify (W)")
      +numberfield("attr_skill_interface", "Interface (W)")
      +numberfield("attr_skill_judge", "Judge (S)")
    .column
      +numberfield("attr_skill_lie", "Lie (S)")
      +numberfield("attr_skill_persuade", "Persuade (S)")
      +numberfield("attr_skill_search", "Search (W)")
      +numberfield("attr_skill_security", "Security (W/G)")
      +numberfield("attr_skill_stealth", "Stealth (G)")
      +numberfield("attr_skill_repair", "Repair (W)")
      +numberfield("attr_skill_resist_mental", "Resist Mental (S)")
      +numberfield("attr_skill_resist_physical", "Resist Physical (B)")
      +numberfield("attr_skill_threaten", "Threaten (B/S)")
      +numberfield("attr_skill_use_magic", "Use Magic (S)")