+section("Traits")
  fieldset.repeating_traits
    input(type="hidden" name="attr_locked")
    .section-unlocked
      .columns
        .column
          +textfield_v("attr_trait_name", "Name")
        .column.is-narrow
          button.button.eos-announce(type="roll" value="&{template:announce} {{name=@{trait_name}}} {{text=@{trait_desc}}}")
      .columns
        .column
          +textarea("attr_trait_desc", "Description")
      .columns
        .column
          input(type="checkbox" name="attr_locked")
    .section-locked
      span.is-3(name="attr_trait_name")
      p
        span(name="attr_trait_desc")
      input(type="checkbox" name="attr_locked")