+section("Traits")
  fieldset.repeating_traits
    //- TODO: have a toggle between edit and display modes
    //- Display modes should pull everything onto a single line
    //- TODO: dice rollers
    +textfield_v("attr_trait_name", "Name")
    +textarea("attr_trait_desc", "Description")