+section("Weapons")
  fieldset.repeating_weapons
    //- TODO: have a toggle between edit and display modes
    //- Display modes should pull everything onto a single line
    //- TODO: dice rollers
    +textfield_v("attr_weapon_name", "Name")
    +textfield_v("attr_weapon_range", "Range")
    +textfield_v("attr_weapon_acc", "Acc")
    +textfield_v("attr_weapon_ap", "AP")
    +textfield_v("attr_weapon_special", "Special")