datalist#species
  option Elek
  option Human
  option Parathan
  option Primas-ika
  option Sporeborn
  option Yasre

datalist#archetypes
  option Martial 
  option Magic
  option Technology 
  option Underworld 

datalist#careers 
  option Grunt 
  option Officer 
  option Medic
  option Hunter
  option Locksmith
  option Courier 
  option Mage
  option Champion
  option Alchemist
  option Engineer
  option Enchanter
  option Operator
  