include features/emoji

include standard-elements

.roll20reset
  #era-of-silence-sheet
    .container
      include sections/profile
      include sections/qualities
      .columns
        .column
          include sections/skills
        .column
          include sections/weapons

//- Pull in datalists for auto completing text fields
include datalists

script(type="text/worker")
  | const variables =
  include variables.json
  include:typescript sheetworkers/rollers.ts
  include:typescript sheetworkers/calculations.ts

//- Roll templates
include rolltemplates

//- Include some CSS classes that will be injected by Roll20, so that PurgeCSS doesn't cleanse them
.btn.repcontrol_add.repcontrol_edit.repcontrol_move.repcontrol_del.pictos